"*":
  "exception-reporting":
    userId: "a134b2b5-741f-907c-1d3a-92ac15f2c256"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-dark-ui"
      "base16-syntax"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    backUpBeforeSaving: true
    fontSize: 12
  emmet: {}
  "vim-mode": {}
  "base16-syntax":
    scheme: "Flat"
  "one-dark-ui":
    layoutMode: "Compact"
  "autocomplete-plus": {}
  "disable-keybindings":
    prefixKeys: [
      "ctrl-k"
    ]
  preview:
    _analyticsUserId: "db10dc41-f99c-41a6-a37b-6c4a67be3bb0"
  "atom-beautify":
    _analyticsUserId: "e9a1d0f2-2aff-4d5f-8fa3-23769715396f"
  linter:
    showErrorPanel: false
    lintOnFly: false
  "preview-plus":
    htmlp: true
    livePreview: true
  "browser-plus": {}
